<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Flames</title>

    <style>
      body {
        background-image: url("F:/Projects/FLAMES/Resource/Images/grunge-metal-red-grunge-texture.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        align-content: center;
      }

      div {
        align-content: center;
      }

      h1 {
        color: whitesmoke;
      }

      p {
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>FRAMES</h1>
      <p>Predict the Destiny</p>
    </div>

    <div>
      <input type="text" id="Name1" name="Male Name" placeholder="Enter Name" />
      <img
        src="F:\Projects\FLAMES\Resource\Images\heart-calligraphy-style_-_Copy-removebg-preview.png"
        id="heart-img"
        width="3%"
      />
      <input
        type="text"
        id="Name2"
        name="Female Name"
        placeholder="Enter Name"
      />
    </div>

    <div>
      <button>See Destiny</button>
    </div>
  </body>
</html>
